{% if(exists) %}	
	<span style="color: #E20;font-weight: bold;">Usuario ya est&aacute; en uso.</span>
{% else %}
	<span style="color: #61C419;font-weight: bold;">Usuario disponible.</span>
{% endif %}