{% extends 'CrystalAdminBundle:Admin:admin.html.twig' %}
	{% block layout %}	
	<script language="JavaScript">

		function cambiaEstado(select)
		{
			var divAudio = document.getElementById('audioFiles');
			if(select.value == 2)
				divAudio.style.display = 'block';
			else
				divAudio.style.display = 'none';
			
		}

		function change()
		{
			var input = document.getElementById('input');
			var opt = document.getElementById(input.value);
			opt.getElementsByTagName('input')[0].name = "txtId";
		}
	</script>



{% block breaking %}
	<section id="breaking">
		<div id="title">
			<h2>Crear Noticia</h2>
		</div>
	</section>
{% endblock %}

	<form method="post"  enctype="multipart/form-data" id="register" name="formu">
	<article id="table">
		<div class="row">
			<div>Categoria:</div>
			<div>
				<select name="txtId" id="categoria" onchange="cambiaEstado(this);">
				{% for categories in categories %}
					<option value="{{ categories.id }}">
						{{ categories.Name }}
					</option>
				{% endfor %}
				</select>
			</div>
		</div>
		
		<div class="row">
			<div>Titulo:</div><div><input class="text "type="text" name="txtTitle" /></div>
		</div>
		<div class="row">
			<div>Contenido:</div><div><input  class="text" type="text" name="txtContent" /></div>
		</div>
		<div class="row">
			<div>Palabra clave:</div><div><input  class="text" type="text" name="txtKeywords"/></div>
		</div>

		
		<div class="row">
		<div>Imagen</div>
			<div><input  type="file"  class="text" name="imagen" /></div>
		</div>

	<div id="audioFiles" style="display:none">
		<div class="row">
			<div>MP3</div>
		    <div><input type="text"  class="text" name="mp3"/></div>
		</div>
		<div class="row">
		 	<div>OGG</div>
		  	<div><input type="text"  class="text" name="ogg"/></div>
		</div>
	</div>
	</article>
	<div class="row">
	  <div align="center" style="margin-top: 30px;">
			<input type="submit" class="button" value="Guardar"/>
	  </div>
	</div>
</form>
</section>
	<section id="izq">
		<div id="sidebar">
		hola :)
		<div>
	</section>


{% endblock %}


