{% extends 'CrystalAdminBundle:Admin:admin.html.twig' %}
	{% block layout %}	
	<script language="JavaScript">

		function cambiaEstado(select)
		{
			var divAudio = document.getElementById('audioFiles');
			if(select.value == 2)
				divAudio.style.display = 'block';
			else
				divAudio.style.display = 'none';
			
		}

		function change()
		{
			var input = document.getElementById('input');
			var opt = document.getElementById(input.value);
			opt.getElementsByTagName('input')[0].name = "txtId";
		}
	</script>
	<form method="post"  enctype="multipart/form-data" name="formu">
	<table cellpadding="0" cellspacing="0" >
	<tr>
			<td>Categoria:</td>
			<td>
				<select name="txtId" id="categoria" onchange="cambiaEstado(this);">
				{% for categories in categories %}
					<option value="{{ categories.id }}">
						{{ categories.Name }}
					</option>
				{% endfor %}
				</select>
			</td>
		</tr>
		<tr>
			<td>Titulo:</td><td><input type="text" name="txtTitle" /></td>
		</tr>
		<tr>
			<td>Contenido:</td><td><input type="text" name="txtContent" /></td>
		</tr>
		<tr>
			<td>Palabra clave:</td><td><input type="text" name="txtKeywords"/></td>
		</tr>
		<tr>
		<td>Imagen</td>
			<td><input type="file"  name="imagen" /></td>
		</tr>
	</table>


	<div id="audioFiles" style="display:none">
	<table cellpadding="0" cellspacing="0">
	<tr>
	<td>MP3</td>
	  <td><input type="file" name="mp3"/></td>
	</tr>
	<tr>
	<td>OGG</td>
	  <td><input type="file" name="ogg"/></td>
	 </tr>
	 </table>
	</div>
	<table cellpadding="0" cellspacing="0">
	  <tr>
		<td><input type="submit" name="btnNews" value="Guardar"/></td>
	</tr>
	</table>
</form>
{% endblock %}


