{% extends 'CrystalAdminBundle:Admin:admin.html.twig' %}
{% block layout %}
<script>
	function change()
	{
		var input = document.getElementById('input');
		var opt = document.getElementById(input.value);
		opt.getElementsByTagName('input')[0].name = "txtId";
	}
</script>
<form method="post">
<table cellpadding="0" cellspacing="0" >
	<tr>
	<td>
	<input list="txtName" name="txtName" id="input" onchange="change()">
	<datalist id="txtName">
	{% for users in users %}
		<option id="{{ users.userName }}">
			{{ users.userName }}
			<input type="hidden" name="" value="{{ users.id }}">
		</option>
	{% endfor %}
	</datalist>
	</td>
	</tr>
	<tr>
		<td><input type="submit" name="btnNews" value="Guardar"/></td>
	</tr>
	
 </table>
 </form>

{% endblock %}