{% extends '::base.html.twig' %}
{% block stylesheets %}
	{{ parent() }}
	{% stylesheets output='css/*.css' filter='cssrewrite' debug=false
        'bundles/crystalnews/css/flexslider.css'
    %}
        <link href="{{ asset_url }}" rel="stylesheet/less" media="screen" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	</script>
	<script>
		(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "http://connect.facebook.net/es_LA/all.js#xfbml=1&appId=317565235017985";
				fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
{% endblock %}
{% block topMenu %}
	<section id="top-menu">
        <a href="http://misgustosmianime.tk" target="__blank"><section class="sec-forum"><article class="forum"><div class="title">MGM Anime Foro<div></article></section></a>
        <section class="sec-library"><article class="library"><div class="title">Biblioteca Anime</div></article></section>
        <section class="sec-radio"><article class="radio"><div class="title">MGM Anime Radio</div></article></section>
    </section>
{% endblock %}

{% block breaking %}
	<section id="breaking">
		<section class="slider">
			<div class="flexslider">
				<ul class="slides">
					<li>
						<img src="pics/Breaking-1.jpg" width="700" height="350" />
						<div><span>Revisión de Robotics;Notes</span></div>
					</li>
					<li>
						<img src="pics/Breaking-2.jpg" width="700" height="350" />
						<div><span>Chuunibyou demo koi ga shitai! llega a su fin</span></div>
					</li>
					<li>
						<img src="pics/Breaking-3.jpg" width="700" height="350" />
						<div><span>Sakurasou no pet na kanojou fin del primer arco</span></div>
					</li>
					<li>
						<img src="pics/Breaking-4.jpg" width="700" height="350" />
						<div><span>¿Tonari no kaibutsu kun termina?</span></div>
					</li>
					<li>
						<img src="pics/Breaking-5.jpg" width="700" height="350" />
						<div><span>Boku wa tomodachi ga sukunai tendrá segunda temporada</span></div>
					</li>
				</ul>
			</div>
		</section>
{% endblock %}
