{% extends '::base.html.twig' %}

{% block breaking %}
	<section id="breaking">
		<div id="title">
			<img src="{{ asset('bundles/crystalnews/images/title.png') }}" width="300" height="124" />
			<h2>Registrate</h2>
		</div>
	</section>
{% endblock %}

{% block news %}
	<section id="news">
		<article id="table">
			<div class="row">
				<div>Usuario:</div><div><input type="text" name="txtUserName" placeholder="Kirito" class="texts" /></div>
			</div>
			<div class="row">
				<div>E-mail:</div><div><input type="mail" name="txtMail" placeholder="ejemplo@gmail.com" class="texts" /></div>
			</div>
			<div class="row">
				<div>Contrase&ntilde;a:</div><div><input type="password" name="txtPass" placeholder="******" class="texts" /></div>
			</div>
			<div class="row">
				<div>Confirme contrase&ntilde;a:</div><div><input type="password" name="txtPass2" placeholder="******" class="texts" /></div>
			</div>
			<div class="row">
				<div>Edad:</div><div><input type="number" max="100" min="13" name="txtAge" placeholder="13" class="texts" /></div>
			</div>
			<div class="row">
				<div>Fecha de nacimiento:</div><div><input type="date" name="txtBirthDay" placeholder="01/07/2007" class="texts" /></div>
			</div>
			<div class="row">
				<div>Sitio web:</div><div><input type="url" name="txtWebSite" placeholder="http://www.mgmanime.com" class="texts" /></div>
			</div>
		</article>
	</section>
{% endblock %}