{% extends '::base.html.twig' %}

{% block breaking %}
	<section id="breaking">
		<div id="title">
			<img src="{{ asset('bundles/crystalnews/images/title.png') }}" width="300" height="124" />
			<h2>Registrate</h2>
		</div>
	</section>
{% endblock %}

{% block news %}
	<section id="news">

	</section>
{% endblock %}