/* Functions */

.gradient(@color1, @color2)
{
	background: @color1;
	background: -moz-linear-gradient(top, @color1 0%, @color2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2));
	background: -webkit-linear-gradient(top, @color1 0%,@color2 100%);
	background: -o-linear-gradient(top, @color1 0%,@color2 100%);
	background: -ms-linear-gradient(top, @color1 0%,@color2 100%);
	background: linear-gradient(to bottom, @color1 0%,@color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{color1}', endColorstr='@{color2}',GradientType=0 );
}

.center()
{
	margin: 0 auto;
}

.transition()
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
}

.transitionHover()
{
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition:all 1s ease;
	transition:all 1s ease;
}

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face
{
	font-family: 'Opificio';
	src: url(../fonts/Opificio.ttf);
}

@font-face
{
	font-family: 'Stentiga';
	src: url(../fonts/stentiga.otf);
}

@font-face
{
	font-family: 'Champagne';
	src: url(../fonts/Champagne.ttf);
}


/* General */

*
{
	font-family: 'Open sans', sans-serif;
}

body img { width: 100%; height: auto;}

body
{
	margin: 0;
	margin-top: 0;
	.gradient(#EEEEEE, #CCCCCC);
}

a
{
	color: #666;
	text-decoration: none;
	.transition();

	&:hover
	{
		.transitionHover();
		color: #FF3019;
	}
}

header
{
	.gradient(#FF3019, #cf0404);

	color: #FFF;
	height: 45px;
	text-align: center;

	a 
	{
		color: #FFF;
		text-decoration: none;

		h1
		{
			margin: 0;
		}
	}
}

#content
{	
	min-height: 550px;	
}

nav
{	
	font-family: Opificio;
	width: 15%;
	display: inline-block;
	height: 250px;
	vertical-align: bottom;
	min-height: 550px;

	ul
	{
		list-style: none;

		li
		{
			text-transform: uppercase;
			line-height: 30px;

			&:last-child
			{
				border: none;
			}
			
		}
	}

}

#layout
{
	display: inline-block;
	width: 68%;
	min-height: 550px;
}

#side-bar
{
	display: inline-block;
	width: 15%;
	min-height: 550px;
}