/* Functions */

.borderRadius(@size)
{
	-moz-border-radius: @size;
	-webkit-border-radius: @size;
	-o-border-radius: @size;
	-ms-border-radius: @size;
	border-radius: @size;
}

.center()
{
	margin: 0 auto;
}

.gradient(@color1, @color2)
{
	background: @color1;
	background: linear-gradient(to bottom, @color1 0%,@color2 100%) no-repeat;
	background: -moz-linear-gradient(top, @color1 0%, @color2 100%) no-repeat;		
	background: -ms-linear-gradient(top, @color1 0%,@color2 100%) no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2)) no-repeat;
	background: -webkit-linear-gradient(top, @color1 0%,@color2 100%) no-repeat;
	background: -o-linear-gradient(top, @color1 0%,@color2 100%) no-repeat;	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@{color1}', endColorstr='@{color2}',GradientType=0 );
}

.topBorderRadius(@size)
{
	-moz-border-radius: @size @size 0 0;
	-webkit-border-radius: @size @size 0 0;
	-o-border-radius: @size @size 0 0;
	-ms-border-radius: @size @size 0 0;
	border-radius: @size @size 0 0;	
}

.label()
{
	background: linear-gradient(to bottom,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,65) 100%);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.0) 0%, rgba(0,0,0,65) 100%);	
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,65) 100%);	
	background: -o-linear-gradient(top,  rgba(0,0,0,0.0) 0%,rgba(0,0,0,65) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.0)), color-stop(100%,rgba(0,0,0,20)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.0) -50%,rgba(0,0,0,20) 100%);	
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
}

.transition()
{	
	-moz-transition:all 1s ease;
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
}

.transitionHover()
{	
	-moz-transition:all 1s ease;	
	-ms-transition:all 1s ease;
	-o-transition:all 1s ease;
	-webkit-transition:all 1s ease;	
	transition:all 1s ease;
}

.shadow(@size, @color)
{
	-moz-box-shadow: 0 0 @size @size @color;
	-ms-box-shadow: 0 0 @size @size @color;
	-o-box-shadow: 0 0 @size @size @color;
	-webkit-box-shadow: 0 0 @size @size @color;
	box-shadow: 0 0 @size @size @color;
}

.textShadow(@color, @x, @y, @blur)
{
	-moz-text-shadow: @color @x @y @blur;
	-ms-text-shadow: @color @x @y @blur;
	-o-text-shadow: @color @x @y @blur;
	-webkit-text-shadow: @color @x @y @blur;
	text-shadow: @color @x @y @blur;
}

.textBoxShadow(@color)
{
	-moz-box-shadow: 0px 0px 8px @color;
	-ms-box-shadow: 0px 0px 8px @color;
	-o-box-shadow: 0px 0px 8px @color;
	-webkit-box-shadow: 0px 0px 8px @color;
	box-shadow: 0px 0px 8px @color;
}

.rotate(@deg)
{
	-moz-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	transform: rotate(@deg);
}

/* General */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@font-face
{
    font-family: 'Titulo';
    src: url('../fonts/FFF_Tusj-webfont.eot');
    src: url('../fonts/FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FFF_Tusj-webfont.woff') format('woff'),
         url('../fonts/FFF_Tusj-webfont.ttf') format('truetype'),
         url('../fonts/FFF_Tusj-webfont.svg#FFFTusjBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{	
	background: url('../images/FMACircle.png'), url('../images/FMACircle1.png');
	background-color: #EEE;
	background-position: right top, left bottom;
	background-repeat: no-repeat;
	font-family: 'Open-sans', sans-serif;
	font-size: 16px;

	a
	{
		text-decoration: none;
		color: #000;
	}
}

h3
{
	color: #E20;
}

#container
{
	.shadow(2px, rgba(10, 10, 10, 0.3));
	.center();
	background: rgba(255, 255, 255, 0.5);
	width: 1024px;
	min-height: 800px;
}

#social-media
{
	display: inline-block;
	height: 60px;
	text-align: right;

	div
	{
		.transition();
		display: inline-block;
		width: 60px;

		&:hover img
		{
			.transitionHover();
			.rotate(720deg);
			
		}
	}
}

header
{
	display: inline-block;
	height: 100px;
	width: 80%;

	div
	{
		margin: 0;
		margin-bottom: 5px;
		padding-left: 7%;
		height: 150px;

		h1
		{
			.textShadow(#333, 0px, 5px, 5px);
			color: #e20;
			font-family: 'Titulo';
			font-size: 4.5em;
			font-weight: normal;
			margin: 0 1em 2em 0;
		}		
	}	
}

nav
{
	background: #444;
	min-height: 35px;
	width: 100%;

	ul
	{
		.center();
		
		border: 0;
		list-style: none;
		padding: 0;
		width: 90%;

		li
		{
			.textShadow(#000, -2px, 0px, 3px);
			.transition();
			color: #FFF;
			display: inline-block;
			font-size: 1.2em;
			line-height: 35px;
			min-height: 35px;
			text-align: center;
			text-transform: uppercase;
			width: 150px;

			&:hover
			{
				.textShadow(#000, -2px, 0px, 3px);
				.transitionHover();
				color: #E20;				
			}
		}
	}
}

#top-menu
{
	display: inline-block;
	font-weight: bold;
	height: 250px;
	text-align: center;
	width: 100%;

	section
	{
		.transition();
		display: inline-block;
		height: 250px;
		vertical-align: top;
		width: 32%;

		figure
		{
			.borderRadius(75px);
			display: inline-block;
			height: 150px;
			overflow: hidden;
			width: 150px;

			figcaption
			{
				.label();
				color: #FFF;
				font-size: 0.95em;
				height: 50px;
				margin-top: 100px;
				padding: 0.5em;
				text-align: center;
			}
		}
	}
}

.sec-forum
{
	text-align: right;

	&:hover
	{
		.transitionHover();
		background: url('../images/forum-char.png') no-repeat;
		padding-top: 60px;
	}
}

.sec-library
{
	text-align: center;

	&:hover
	{
		.transitionHover();
		background: url('../images/biblioteca-char.png') no-repeat;
		padding-top: 60px;		
	}
}

.sec-radio
{
	text-align: left;

	&:hover
	{
		.transitionHover();
		background: url('../images/radio-char.png') no-repeat;
		padding-top: 60px;
	}
}

.forum
{
	border: 5px solid #e20;
	background: #FFF url('../images/forum-icon.png') no-repeat;
}

.library
{
	background: url('../images/biblioteca-icon.png') no-repeat;
	border: 5px solid #e2822e;
}

.radio
{
	background: url('../images/radio-icon.png') no-repeat;
	border: 5px solid #40535a;
}

#content
{
	min-height: 400px;
}

#breaking
{	
	width: 100%;

	.slider
	{
		.center();
		width: 70%;
	}
}

.slides
{
	li
	{
		img
		{
			position: relative;
		}

		div
		{
			background: rgba(0, 0, 0, 0.5);
			color: #FFF;
			font-weight: normal;
			height: 50px;
			line-height: 50px;
			margin: 0;
			position: absolute;
			top: 0;
			width: 100%;

			span
			{
				font-size: 1.4em;
				font-weight: bold;
				margin-left: 0.5%;
			}
		}
	}	
}

.line-1
{
	.center();
	max-width: 900px;
}

#news
{
	.topBorderRadius(1em);

	background: rgba(255, 255, 255, 0.9);
	border: 3px solid #DDD;
	display: inline-block;
	margin-top: 30px;
	max-width: 700px;
	min-height: 400px;	
	padding: 1.2em 3% 0 3%;
	width: 65%;
}

.calendar
{
	.borderRadius(40px);
	background: #FFF;
	border: 3px solid red;
	color: #000;
	font-weight: bold;
	height: 70px;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	width: 70px;

	div
	{
		margin: 0;
	}

	.month, .year
	{
		font-size: 0.8em;
	}

	.day
	{
		font-size: 2em;
	}

}

.newsTitle
{
	max-height: 200px;
	position: relative;
	overflow: hidden;

	&:hover
	{
		div
		{
			.transitionHover();
			margin-top: 50px;
		}
	}

	img
	{
		.topBorderRadius(20px);	
		margin-top: 20px;
		max-width: 700px;
		min-height: 200px;
	}

	div
	{
		.center();
		.transition();
		background: rgba(0, 0, 0, 0.7);
		color: #FFF;
		font-weight: normal;
		height: 50px;
		margin: 0;
		padding-left: 5%;
		position: absolute;
		top: 150px;
		width: 95%;

		span
		{
			font-size: 1em;
			font-weight: bold;
		}
	}
}

.newsDescription
{
	font-size: 0.9em;
	padding-top: 10px;
	text-align: justify;

	a
	{
		color: #40535a;
		font-size: 1.2em;
		font-weight: bold;
	}
}

#side-bar
{
	display: inline-block;
	min-height: 400px;
	padding: 1%;
	vertical-align: top;
	width: 25%;
}

#fb-box
{
	.center();
	display: inline-block;
	margin-bottom: 30px;
}

#register
{
	.center();
	display: inline-block;
	margin-bottom: 30px;
}

#title
{
	.center();

	margin: 20px auto 30px auto;
	max-width: 300px;
	position: relative;

	h2
	{
		.textShadow(rgba(0, 0, 0, 0.7), -5px, 0px, 3px);
		color: #EEE;
		font-size: 2.1em;
		left: 70px;
		position: absolute;
		top: 7px;
	}
}

#table
{
	display: inline-block;
	width: 60%;
}

.row
{
	margin-bottom: 5px;

	div
	{
		display: inline-block;
		margin-bottom: 5px;
		width: 49%;
	}
}

#user
{
	div
	{
		display: inline-block;
		margin-bottom: 5px;
		width: 29.1%;
	}
}

.texts
{
	.borderRadius(4px);
	.textBoxShadow(#d9d9d9);

	border: 1px solid #c4c4c4;
    font-size: 13px;
    height: 18px;
    padding: 4px 4px 4px 4px;
	width: 180px;

    &:focus
    {
    	.textBoxShadow(#666);
    	border: 1px solid #666;
    	outline: none;
    }

}

.textError
{
	.borderRadius(4px);
	.textBoxShadow(#e20);

	border: 1px solid #c4c4c4;
    font-size: 13px;
    height: 18px;
    padding: 4px 4px 4px 4px;
	width: 180px;
}

.button
{
	.gradient(#e20 * 1.1 , #8e0202 * 1.1);

	border: 1px solid #c61313;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,.25);
	padding: 4px;
	width: 100px;

	&:hover
	{
		.gradient(#e20 / 1.07, #8e0202 / 1.05);
	}

	&:active
	{
		background: #8e0202 / 1.05;
	}
}

footer
{
	height: 150px;
	margin-top: 60px;
	text-align: center;

	div
	{
		display: inline-block;
	}

	img
	{
		max-width: 100px;
	}

	p
	{
		display: inline-block;
		text-align: center;
	}

	.credits
	{
		color: #427ae1;
		display: block;
	}
}

@media screen and (max-width: 1024px)
{
	#container
	{
		width: 100%;
	}

	header
	{
		width: 75%;
		h1
		{
			text-align: center;
		}
	}

	nav
	{
		ul
		{
			li
			{
				width: 135px;
				font-size: 1em;
			}
		}
	}

	.line-1, .line-2
	{
		width: 90%;
		img
		{
			width: 100%;
			height: auto;
		}
	}
}

@media screen and (max-width: 768px)
{
	header
	{
		display: block;
		text-align: left;
		width: 100%;
		div
		{
			padding: o;
			h1
			{
				font-size: 3.7em;
				line-height: 1.75em;
				margin: 0 0 0 0;
			}
		}
	}

	#social-media
	{
		display: block;
		text-align: center;
		width: 100%;
		margin: 0 0 1em 0;
	}

	#top-menu
	{

		height: 150px;
		margin: 0 0 1em 0;
		section
		{
			.center();
			padding: 1em 0 0 0;
			height: 150px;

			&:hover
			{
				background: none;
			}

			figure
			{
				.borderRadius(55px);
				margin: 0 0 0 0;
				background-size: 150%;
				width: 110px;
				height: 110px;

				figcaption
				{					
					margin-top: 60px;
				}
			}

			.sec-radio, .sec-forum, .sec-library
			{
				text-align: center;
			}
		}
	}

	#news
	{
		width: 90%;
	}

	#side-bar
	{
		width: 100%;
	}

	#register
	{
		text-align: center;
		width: 100%;
	}

	#fb-box
	{
		width: 48%;
		display: inline-block;
	}

}

@media screen and(max-width: 320px)
{
	header div h1
	{
		.textShadow(#000, 0px, 5px, 5px);
		font-size: 2.5em;
	}

	#social-media img
	{
		width: 75%;
		height: auto;
	}

	nav ul li
	{
		width: 100%;
		font-size: 0.9em;
		border-bottom: 1px solid #EEE;
	}

	#top-menu section figure
	{
		background: #EEE;
		height: 75px;
		width: 75px;

		figcaption
		{
			font-size: 0.8em;
			padding-top: 1em;
			margin: 0;
			height: 75px;
		}
	}

	#side-bar
	{
		min-height: 98px;
	}
	#fb-box
	{
		display: none;
	}
}