{% extends 'CrystalNewsBundle:Admin:admin.html.twig' %}
	{% block layout %}	
	<form method="post">
	<table cellpadding="0" cellspacing="0" >
		<tr>
			<td>Contenido:</td><td><input type="text" name="txtContent" /></td>
		</tr>
		<tr>
			<td>Fecha:</td><td><input type="text" name="txtDate" /></td>
		</tr>
		<tr>
			<td>Palabra clave:</td><td><input type="text" name="txtKeywords"/></td>
		</tr>
		<tr>
			<td>Categoria:</td>
			<td>
				<select type="text" name="txtCategory"/>
					<option></option>
			    </select>
			</td>
		</tr>
		<tr>
			<td><input type="submit" name="btnNews" value="Guardar"/></td>
		</tr>
		
	</table>
	</form>
{% endblock %}


